
.idea/vcs.xml
.idea/other.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Emiasd-deep-learning.iml
.idea/Emiasd-deep-learning.iml
.idea/misc.xml
05.ProjetGo/20250429/validation.data
05.ProjetGo/20250405/validation.data
05.ProjetGo/20250331/games.2022.data
05.ProjetGo/20250329/validation.data
05.ProjetGo/project2025/games2022.data
05.ProjetGo/validation.data
05.ProjetGo/20250429/games.data
05.ProjetGo/20250405/games.data
05.ProjetGo/games.data
05.ProjetGo/project2022/games.2022.data
05.ProjetGo/20250429/backup/JMDessalas_12avr/games.data
05.ProjetGo/20250331/validation.2022.data
05.ProjetGo/20250429/backup/JMDessalas_12avr/validation.data
